<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" href="/style/main.css">
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/bootstrap/3.2.0/css/bootstrap.css">
</head>
<body>
<%- include('header') %>
<div class="container">
    <%- content %>
</div>
<%- include('footer') %>
</body>
</html>
